*{
    margin: 0;
    padding: 0;
}

.five{
    text-align: center;
}

.six{
    text-align: center;
}

.seven{
    text-align: center;
}

.eight{
    text-align: center;
}

.nine{
    text-align: center;
}

.ten{
    text-align: center;
}

.eleven{
    text-align: center;
}

.moqup{
    text-align: center;
}

.website{
    text-align: center;
}