*{
    margin: 0;
    padding: 0;
}

.background-image{
    width: 100%;
    height: 100vh;
    background-image: url("Images/bodybuilding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-link{
    text-align: right;
    flex: 1;

}

.nav-link ul li{
    color: black;
    font-size: 15px;
    display: inline-block;
    pad: 8px 12px;
}

.nav{
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}